<main class="container-md py-4">
    <% if(query.message === "success") { %>
        <div class="container-fluid">
            <div class="alert alert-success" role="alert">
                Kitap başarıyla eklendi
            </div>
        </div>
    <% } else if(query.message === "error") { %>
        <div class="container-fluid">
            <div class="alert alert-danger" role="alert">
                Bir hata oluştu, kitap eklenemedi
            </div>
        </div>
    <% } %>

    <div class="container-fluid my-1">
        <div class="d-flex align-items-center mb-3">
            <a href="/books" class="btn btn-primary d-inline"><i class="bi bi-arrow-left"></i> Geri</a>
            <h1 class="d-inline m-auto ms-2">Yeni Kitap Ekle</h1>
        </div>

        <form action="/books/add-book" method="POST" class="form-floating my-3">
            <div class="form-floating mb-3">
                <input type="text" name="name" class="form-control" id="addBookNameInput" placeholder="Enter Book Name" required>
                <label for="addBookNameInput">Kitap Adı <span class="text-danger">*</span></label>
            </div>

            <div class="form-floating mb-3">
                <input type="text" name="author" class="form-control" id="addBookAuthorInput" placeholder="Enter Book Author" required>
                <label for="addBookAuthorInput">Yazar Adı <span class="text-danger">*</span></label>
            </div>

            <div class="form-floating mb-3">
                <select id="categorySelect" name="categoryID" class="form-select" aria-label="Default select change">
                    <% categories.forEach(category => { %>
                        <option value="<%= category.id %>"><%= category.name %></option>
                    <% }) %>
                </select>
                <label for="categorySelect">Kategori <span class="text-danger">*</span></label>
            </div>

            <div class="form-floating mb-3">
                <textarea name="description" class="form-control" id="addBookDescInput" placeholder="Enter Book Description"></textarea>
                <label for="addBookDescInput">Kitap Açıklaması</label>
            </div>

            <button class="btn bg-primary text-light w-100" type="submit">Kitap Ekle</button>
        </form>
    </div>
</main>
<script src="/assets/js/error.js"></script>