<body>
    <main class="container-fluid">
        <div class="row">
            <div class="col-4">
                <ul class="side-bar list-group" style="height: 100%;">
                    <a class="link-underline link-underline-opacity-0" href="/admin-panel/books"><li class="list-group-item">Kitaplar</li></a>
                    <a class="link-underline link-underline-opacity-0" href="/admin-panel/books/search"><li class="list-group-item">Kitaplarda Ara</li></a>
                </ul>
            </div>
            <div class="col-8"></div>
        </div>
    </main>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/error.js"></script>
</body>