<main class="container-md py-4">
    <% if(deleteStatus === "success") { %>
        <div class="container-fluid">
            <div class="alert alert-success" role="alert">
                Kitap başarıyla silindi
            </div>
        </div>
    <% } else if(deleteStatus === "error") { %>
        <div class="container-fluid">
            <div class="alert alert-danger" role="alert">
                Bir hata oluştu, kitap silinemedi
            </div>
        </div>
    <% } %>

    <div class="container-fluid my-1">
        <div class="d-flex align-items-center mb-3">
            <a href="/account/mybooks" class="btn btn-primary d-inline"><i class="bi bi-arrow-left"></i> Geri</a>
            <h1 class="d-inline m-auto ms-2">Kitap Silme</h1>
        </div>
    </div>
</main>
<script src="/assets/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js/error.js"></script>