<body class="d-flex justify-content-center align-items-center">
    <main class="container-md d-flex justify-content-center">
        <a class="btn btn-primary" role="button" href="/login">Giriş Yap</a>
    </main>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
</body>