<main class="container-md">
    <h1 class="my-3">Gizlilik Politikası</h1>
    <p class="border border-dark-subtle rounded-3 p-3">
    </p>

</main>
<script src="/assets/js/bootstrap.bundle.min.js"></script>