<link rel="stylesheet" href="/assets/css/body-center.css">
<main class="container-md">
    <% if(typeof query !== 'undefined') { %>
        <% if(query.message === "error") { %>
            <div class="container-fluid">
                <div class="alert alert-danger" role="alert">
                    Bir hata oluştu, üye olamadınız
                </div>
            </div>
        <% } else if(query.message === "registered-email") { %>
            <div class="container-fluid">
                <div class="alert alert-danger" role="alert">
                    Bu eposta adresi zaten kayıtlı, lütfen başka bir eposta adresi deneyin!
                </div>
            </div>
        <% } else if(query.message === "invalid-recaptcha") { %>
            <div class="container-fluid">
                <div class="alert alert-danger" role="alert">
                    Robot olmadığınız doğrulanamadı!
                </div>
            </div>
        <% } else if(query.message === "invalid-password") { %>
            <div class="container-fluid">
                <div class="alert alert-danger" role="alert">
                    Şifreniz uygun değil, lütfen şifrenizi gözden geçirin!
                </div>
            </div>
        <% } %>
    <% } %>
    <div class="container-fluid my-1">
        <form action="/register" method="POST" class="form-floating my-3">
            <h2 class="display-2 mb-3 text-center">Üye Ol</h2>
            <div class="row row-cols-1 row-cols-md-2">
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="text" name="userName" class="form-control" id="userNameInput" placeholder="Enter Your Name" required>
                        <label for="userNameInput">Adınız <span class="text-danger">*</span></label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="text" name="userSurname" class="form-control" id="userSurnameInput" placeholder="Enter Your Surname" required>
                        <label for="userSurnameInput">Soyadınız <span class="text-danger">*</span></label>
                    </div>
                </div>
            </div>

            <div class="form-floating mb-3">
                <input type="email" name="userEmail" class="form-control" id="userEmailInput" placeholder="Enter Your Email" required>
                <label for="userEmailInput">E-postanız <span class="text-danger">*</span></label>
            </div>

            <div class="input-group mb-3">
                <div class="form-floating">
                    <input type="password" name="userPassword" class="form-control user-password-input" id="userPasswordInput" placeholder="Enter Your Password" data-toggle-id="1" required>
                    <label for="userPasswordInput">Şifreniz <span class="text-danger">*</span></label>
                </div>
                <button class="btn password-show-hide-toggle" type="button" data-toggle-id="1" style="background-color: #f0f0f0;"><i class="bi bi-eye-fill" data-toggle-id="1"></i></button>
            </div>
            <div class="row password-validator my-1">
                <div class="row">
                    <div class="col text-danger"><i class="validator-icon bi bi-x-circle-fill"></i> Şifrenin uzunluğu en az 8 karakter olmalı</div>
                </div>
                <div class="row">
                    <div class="col text-danger"><i class="validator-icon bi bi-x-circle-fill"></i> Şifren en az 1 büyük ve 1 küçük harf içermeli</div>

                </div>
                <div class="row">
                    <div class="col text-danger"><i class="validator-icon bi bi-x-circle-fill"></i> Şifren en az 1 rakam içermeli</div>
                </div>
                <div class="row">
                    <div class="col text-danger"><i class="validator-icon bi bi-x-circle-fill"></i> Şifren "123" veya "6789" gibi art arda yazılmış 2'den fazla tahmin etmesi kolay ve sıralı rakamları içermemeli</div>
                </div>
            </div>
            <div class="row mb-1">
                <div class="col">Üye olarak <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="javascript:void(0)">Kullanıcı Sözleşmesini</a> kabul etmiş olursun.</div>
            </div>
            <div class="row mb-2">
                <div class="col">(<span class="text-danger">*</span>) zorunlu</div>
            </div>
            <div class="g-recaptcha" data-sitekey="6LfNC5gqAAAAAM4JQ56pl9b8RwlP0UQm3dTlfOrV"></div>
            <button class="btn bg-primary text-light w-100 mt-2" type="submit">Üye Ol</button>
        </form>
        <div class="row">
            <div class="col">Zaten üye misin? <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="/login">Hemen giriş yap</a></div>
        </div>
    </div>
</main>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script src="/assets/js/alert.js"></script>
<script src="/assets/js/register.js"></script>
<script src="/assets/js/passwordShowHide.js"></script>